<!-- display the artist details -->
<h2>
  <%= @artist.name %>
</h2>

<%= link_to 'Back', root_path %>

<!-- display all the albums the artist owned -->
<h3>Discography</h3>
<ul>
  <% @artist.albums.each do |album| %>
  <li>
    <%= link_to album.title, album_path(album) %>
  </li>
  <% end %>
</ul>

<h3>Tracks</h3>
<ul>
  <% @artist.tracks.each do |track| %>
  <li>
    <%= track.name %>
  </li>
  <% end %>
</ul>
